
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'fuente';
    src: url('../font/Oliver\ Regular\ 400.otf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.layout-page{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    align-items: center;
    color: black;
}

nav{
    background-color: white;
    width: 100%;
}


.container__principal{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.opciones__principales{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.lista{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #D6DCF5;
}

    .seleccionar__piano{
        background-color: #D6DCF5;
        width: 90%;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 2rem;
        font-weight: bold;

    }

    .piano__icon{
        width: 1.5rem;
    }

    .partitura{
        width: 20rem;

    }

    .opciones{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .play{
        width: 2.5rem;
        height: 2.5rem;
        border-radius:30px ;
        border: none;

    }

    .play_img{
        width: 2rem;
    }

  footer{
     width:100%;
    padding:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
  }

  .container__footer{
    width:100%;

    display:flex;
    justify-content: space-between;
    align-items:center;

  }


  .items__footer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }

  .volver{
    padding: 10px;
    border-radius: 15px;
    font-weight: 700;
  }

@media screen and  (max-width:550px) {




}
