
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'fuente';
    src: url('../font/Oliver\ Regular\ 400.otf');
}


body {
  margin-bottom: 4rem; /* Ajusta este valor según el tamaño de tu pie de página */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.layout-page{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    align-items: center;
    color: black;
}

nav{
    background-color: white;
    width: 100%;
}




.container__principal{

    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuento1{
    width: 40rem;
    margin-top: 2rem;
}



footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
}


footer a {
  text-decoration: none;
}


.container__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.items__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .volver{
    padding: 10px;
    border-radius: 15px;
    font-weight: 700;
  }

@media screen and  (max-width:550px) {



    .container__principal {

        padding: 0rem;


    }

    .section__perfil{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem;

    }

    .mi__perfil{
        width: 100%;

    }


    .text__img__perfil img{
        width: 1rem;
    }

    .container__text__author{
        font-size: 10px;
        width: auto;
    }

    .perfil__ir img{

        width: 10px;
        height: 10px;

    }

    .icon__perfil{
        margin-bottom: 12px;
    }

    .container__perfil{
        margin-left:19px ;
    }

    .container__cuentos{

        justify-content: space-between;

    }

      .leyendo__img{
        width: auto;
    }

    .cuento1{
        width: 90%;
        margin-top: 2rem;
    }

}
