<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../asset/img/logo.svg" type="image/x-icon">

    <!-- Estilos generales de la página -->
    <link rel="stylesheet" href="../asset/js/app.js">
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <!-- Estilos específicos de la página -->
    <link rel="stylesheet" href="../asset/css/app.css">

    <title>TIKAMUS</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="../asset/img/TikamusVol1 solo.svg" alt="">
        </div>
        <div class="icon me-2 mt-2">
            <i class="bi bi-globe mt-4"></i>
        </div>
    </header>
    <main>
       
    </main>
    <footer class="footer">
        <div class="card-footer">
            www.tikamus.com
        </div>
    </footer>

    <div id="preloader"></div>
    <script src="../asset/js/app.js"></script>
    <script src="../asset/js/bootstrap.bundle.min.js"></script>
    <script src="../asset/js/jquery.min.js"></script>

</body>

</html>
